<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="(value, key) in todos" :key="key">
        <input type="checkbox" v-model="value.isCompleted">
        <span :class="{ 'is-completed': value.isCompleted }">{{ value.text }}</span>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref(
          {id : 1, text : "출근찍기", isCompleted : false},
          {id : 2, text : "공부하기", isCompleted : false},
          {id : 3, text : "퇴근하기", isCompleted : false}
        )

        return {
          todos
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
